@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root{
    --main-color:#0aca03;
    --color-dark: #1D2231;
    --text-grey: #8390A2;
}

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration:none !important;
    font-family: 'Poppins',sans-serif;
}

.sidebar{
    width:250px;
    position:fixed;
    left:0;
    top:0;
    height:100%;
    background: var(--main-color);
    z-index: 100;
    transition: width 300ms;
}

.sidebar-brand{
    height:90px;
    padding-left: 1rem 0rem 1rem 2rem;/**/
    color:#fff;
}

.sidebar-brand h2{
    font-size: 1rem;
}
.sidebar-brand span{
    display: inline-block;
    padding: 1rem;
}  

.sidebar-menu{
    margin-top:1rem;
}
.sidebar-menu li{
    width:100%;
    margin-bottom: 1.7rem;
    padding-left: 2rem;
    font-size: 3rem;
}

.sidebar-menu li i{
    font-size:1.5rem;
}
.sidebar-menu a{
    padding-left:1rem;
    display: block;
    color: #fff;
    font-size: 1rem;
}

.sidebar-menu a span:first-child{
    font-size: 1.5rem;
    padding-right:1rem;
}

.sidebar-menu a.active{
    background:#fff;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color:var(--main-color);
    border-radius: 30px 0px 0px 30px;
}

.main-content{
    transition:margin-left 300ms;
    margin-left:250px;
    
}

.header{
    background:#fff;
    display:flex;
    justify-content: space-between;
    padding:1rem 1rem;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    position:fixed;
    left:250px;
    width:calc(100% - 250px);
    top:0;
    z-index: 100;
    transition: width 300ms;
}

.header h2{
    color:#222;
}

.header label i{
    font-size:1.7rem;
    padding-right:1rem;
}

.search-wrapper{
    border:1px solid #f0f0f0;
    border-radius: 50px;
    height:50px;
    display:flex;
    align-items: center;
    overflow-x: hidden;
}

.search-wrapper i{
    display: inline-block;
    padding:0rem 1rem;
    font-size: 1.5rem;
}

.search-wrapper input{
    height:100%;
    padding: .5rem;
    border: none;
    outline: none;
}

.user-wrapper{
    display: flex;
    align-items: center;
}

.user-wrapper img{
    border-radius: 50%;
    margin-right: 1rem;
}

.user-wrapper small{
    display: inline-block;
    color:var(--text-grey);
    margin-top:-10px;
}

main{
    margin-top:85px;
    padding:1rem 1rem;
    background:#f1f5f9;
    min-height: calc(100vh - 90px);
}

.cards{
    display:grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap:1rem;
}

.card-single{
    display:flex;
    justify-content: space-between;
    background: #fff;
    padding:2rem;
    border-radius:5px;
}

.card-single div:last-child span{
    font-size: 2rem;
    color: var(--main-color);
}

.card-single div:first-child span{
  color:var(--text-grey);
}

.card-single div:last-child i{
    font-size:2.5rem;
    color: var(--main-color);
}

.card-single:last-child{
    background: var(--main-color);
    color: #fff;
}

.card-single:last-child h2,
.card-single:last-child div:first-child span,
.card-single:last-child div:last-child span{
    color:#fff;
}

.recent-grid{
    margin-top:1rem;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-columns: 65% auto; */
    grid-gap: 1rem;
}

.card{
    background: #fff;
    border-radius: 5px;
}

.card-header,
.card-body{
    padding: 1rem
}

.card-header{
    display:flex;
    justify-content: space-between;
    align-content: center;
    border-bottom: #F0F0F0;
    height:3rem;
    padding:0.5rem 1rem;
}

.card-header h3{
    font-size: 1rem;
    font-weight: bold;
}

.card-header button{
    /* background: var(--main-color); */
    /* border-radius: 50%; */
    color:var(--main-color);
    background: transparent;
    /* font-size:2rem; */
    /* padding: 1rem 0rem; */
    /* border: 1px solid var(--main-color); */
    margin-top: 0;
    border: none;
    height: none    ;
}

table{
    border-collapse: collapse;
}

thead tr{
    border-top:1px solid #f0f0f0;
    border-bottom:1px solid #f0f0f0;
} 
thead td{
    font-weight: 700;
}

td{
    padding: 0.5rem 1rem;
    font-size:.9rem;
    color:#222;
}

td .status{
    display:inline-block;
    height:10px;
    width:10px;
    border-radius: 50%;
    margin-right:1rem;
}

.status.purple{
    background:rebeccapurple;
}

.status.pink{
    background:deeppink;
}

.status.orange{
    background:orangered;
}

/* tr td:last-child{
    display: flex;
    align-items: center;
} */

.table-responsive{
    width:100%;
    overflow-x: auto;
}

.customer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:.5rem .7rem;/**/
}

.info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info img{
    border-radius:50%;
    margin-right: 0.5rem;
}

.info h4{
    font-size: .8rem;
    font-weight:700;
    color:#222;
}

.info small{
    font-weight:600;
    font-size:0.7rem;
    color:var(--text-grey);
}

.contact i{
    font-size:1rem;
    display:inline-block;
    margin-left: 0.5rem;
    color:var(--main-color);
}

#nav-toggle{
    display:none;
}

#nav-toggle:checked +  .sidebar{
    width:70px;
}

#nav-toggle:checked + .sidebar .sidebar-brand,
#nav-toggle:checked + .sidebar li{
    padding-left:1rem;
    text-align: center;
}

#nav-toggle:checked + .sidebar li a{
    padding-left:0rem;
}

#nav-toggle:checked+ .sidebar li a span{
    padding-right:1rem;
    text-align: center;
}


#nav-toggle:checked ~  .main-content{
    margin-left: 70px;
}

#nav-toggle:checked ~  .main-content .header{
    width:calc(100% - 70px);
    left:70px;
}



#nav-toggle:checked +  .sidebar .sidebar-brand h2 span:last-child,
#nav-toggle:checked +  .sidebar li a span:last-child{
    display:none;
}


.filterpane{
    /* position: fixed; */
    margin-top: -15px;
    margin-left: -30px;
    margin-bottom: 2px;
    margin-right: -30px;
    /* top: 90px; */
    /*bottom: 0; */
   
    /* overflow-y: auto; */
    /* width:16% */
}
#filteroptions{
    /* position: fixed;  */
    overflow-y: auto;
    width:100%;
}


@media only screen and (max-width: 1200px){
    
    .sidebar{
        width:70px;
    }

    .sidebar .sidebar-brand,
    .sidebar li{
        padding-left:1rem;
        text-align: center;
    }

    .sidebar li a{
        padding-left:0rem;
    }

    .sidebar li a span{
        padding-right:1rem;
        text-align: center;
    }

    .main-content{
        margin-left: 70px;
    }

    .main-content .header{
        width:calc(100% - 70px);
        left:70px;
    }

    .sidebar .sidebar-brand h2 span:last-child,
    .sidebar li a span:last-child{
        display:none;
    }

    /* Showing  menu on hover */
    .sidebar:hover{
        width:250px;
        z-index: 200;
    }

    .sidebar:hover .sidebar-brand,
    .sidebar:hover li{
        padding-left:2rem;
        text-align: left;
    }

    .sidebar:hover li a{
        padding-left:1rem;
    }

    .sidebar:hover li a span{
        padding-right:1rem;
        text-align: center;
    }

    .sidebar:hover .sidebar-brand h2 span:last-child,
    .sidebar:hover li a span:last-child{
        display:inline;
    }

}

@media only screen and (max-width: 960px){
    .cards{
        grid-template-columns: repeat(3, 1fr);
    }

    .recent-grid{
        grid-template-columns: 60% 40%;

    }

}

@media only screen and (max-width: 768px){
    .cards{
        grid-template-columns: repeat(2, 1fr);
    }

    .recent-grid{
        grid-template-columns: 100%;
    }

    .search-wrapper{
        display:none;
    }

    .sidebar{
        left:-100% !important;
    }
    
    .sidebar-brand h2 span::after{
        content: '';
    }

    .sidebar-menu a{
        text-align: left !important;
    }

    .header h2{
        display:flex;
        align-items: center; 
    }   

    .header h2 label{
        display:inline-block;
        background: var(--main-color);
        padding-right:0rem;
        margin-right:1rem;
        height:40px;
        width:40px;
        border-radius:50%;
        color:#fff;
        display:flex;
        align-items: center;
        justify-content: center !important;
    }

    .header h2 i{
        text-align: center;
        padding-right:0rem
    }    
    
    .header h2 {
        font-size: 1.1rem;
    }

    .main-content{
        width:100%;
        margin-left: 0rem;
    }

    .header{
        width: 100% !important;;
        left: 0 !important;
    }

    #nav-toggle:checked + .sidebar{
        left: 0 !important;
        z-index: 100;
        width:250px;    
    }

    #nav-toggle:checked + .sidebar .sidebar-brand,
    #nav-toggle:checked + .sidebar:hover li{
        padding-left: 2rem !important;
        text-align: left !important;
    }

    #nav-toggle:checked .sidebar:hover li a{
        padding-left: 1rem;
    }

    #nav-toggle:checked + .sidebar .sidebar-brand h2 span:last-child,
    #nav-toggle:checked + .sidebar li a span:last-child{
        display: inline;
    }

    #nav-toggle:checked ~.main-content{
        margin-left: 0rem !important;
    }
}

.bootbox .modal-header h4 {
    float: none;
}
  
.bootbox .modal-header .close {
    position: absolute;
    right: 15px;
}

/* Fomat SMS Balance summary */
#smsbalancesummary {
    display:flex;
    align-items: center;
    justify-content: space-between;
}

#smsbalancesummary span{
    font-size: 3rem;
    color: var(--main-color) ;
}

#smsbalancesummary h4{
    font-size: 1rem;
    color: var(--text-grey);
}

#smsbalancesummary div{
    align-items: center;
}

#smsbalancesummary div p{
    background-color: var(--color-dark);
    padding: 0.2rem;
    border-radius: 30px;
    color: #f0f0f0;
    position: relative;
    text-align: center;

}

.tenantslist, .employeeslist{
    height: calc(100vh - 370px);
    background: #fff;
    overflow-y:scroll;
    margin-bottom: 0.5rem;
    border:1px solid gray;
}

.tenantslist ul, .employeeslist ul{
    padding: 0.5rem;
}

.tenantslist ul li:hover, .employeeslist ul li:hover{
    padding:0.5rem;
    color: #fff;
    background: var(--color-dark);
    border-radius: 0.4rem;
}

/* Apply toggler styles */
.toggle-switch{
    display: flex;
    height:30px;
    width:100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    font-size: 14px;
}

.toggler{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width:50px;
    height:25px;
    background: blue;
    border-radius: 25px;
    margin: 0 1rem;
    position: relative;
}

.toggler::before{
    content: "";
    width:16px;
    height: 16px;
    background:#fff;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    right:4px;
}

.toggler:checked:before{
    right:55%
}

img.thumbnail{
    height:25px;
    border-radius:50%;
}

.smaller-alert{
    height:1rem;
    padding: 5px;
    font-size: 1rem;
    font-weight: bold;
}

@media only screen and (max-width: 560px){
    .cards{
        grid-template-columns: 100%;
    }
}

.birthdayphoto{
    height:50px;
    border-radius: 50%;
}

/* format employee summary trendline */

.trendsummary{
    margin: 1rem 0rem ;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    width: 100%;
    background-color: #fff;
    height:350px;
    /* width:100% */
}

/*#balancessummarymodal{*/
/*    width: 500px;*/
/*}*/

#balancessummary{
    width: 100%;
}

#balancesSummaryChart{
    width: 100% !important;
    height: 300px !important;
}